.tabela_cabecalho{
    border:1px solid black;
    padding: 0.5em;
}
.tabela{
    border:1px solid black;
    background: #ccc;
    font-weight: 600;

}
.container__tabela{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 90%;
}
#tableConsulta{
    margin: 1em 0em;
    border: 1px solid black;
}
.tabela__itemConsulta{
    border: 1px solid black;
    text-align: center;
    padding: 0.2em 0.5em;
}