.tabela_cabecalho{
    border:1px solid black;
    padding: 0.5em;
}
.tabela{
    border:1px solid black;

}
.container__tabela{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 90%;
}