.modal_exibe{
    display: none;
    /* position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
     height: 100%; */
}
.modal-form_exibe{
    display: flex;
    /* display: none; */
    justify-content: center;
    flex-direction: column;
    /* background: rgb(236, 232, 232); */
    /* filter: opacity(0.5); */
    margin: 0vh 0vh;
    /* padding: 2em; */
    border-radius: 10px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 6px 5px 14px;
}
.modal__sub_exibe{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 0 1em 0;
}
.modalBtn_exibe{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin: 0.6em 0.6em 0;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#botaoSalvar{
    width: 30%;
    padding: 0.5em;
}
#NOMEDEPESQUISA{
    padding: 0.7em 15em 0.7em 0.4em;
}
.botao__consulta{
    background: blue;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border-radius: 3px;
}
.titulo_exibe{
    font-size: 1.5em;
}