.modal_exibe{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.modal-form_exibe{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ccc;
    /* filter: opacity(0.5); */
    margin: 32vh 60vh;
    padding: 2em;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 32px 50px 70px 100vh #000000ba;
}
.modal__sub_exibe{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modalBtn_exibe{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
#botaoSalvar{
    width: 30%;
    padding: 0.5em;
}
#NOMEDEPESQUISA{
    padding: 0.7em 15em 0.7em 0.4em;
}
.botao__consulta{
    background: blue;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border-radius: 3px;
}