@import url(../header.css);
@import url(../footer.css);

:root{
    --fonte-padrao: sans-serif;
}
body{
    font-family: var(--fonte-padrao);
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid;
    box-shadow: 0px 1px 10px 0px;
}
header:hover{
    cursor: pointer;
}


.container__formulario{
    display: flex;
    justify-content: center;
    margin: 3em 0 0 0;
}

.container__itens{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}
.flexbox-1{
    display: flex;
}
.flexbox-2{
    display: flex;
    justify-content: center;
}
.flexbox-geral{
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
}
.form-control{
    color: rgb(45, 19, 161);
    font-weight: bold;
    font-size: 1.2em;
}

.mensagem-error{
    font-size: 15px;
    font-weight: bold;
    color: red;
}

footer{
    display: flex;
    justify-content: center;
    margin: 1em;
    font-style: italic;
}

#botaoSalvar{
    display: none;
}