@import url(../header.css);
@import url(../footer.css);
@import url(../config/modal_exibe.css);
@import url(../tabelaExibe.css);

:root{
    --fonte-padrao: sans-serif;
}
body{
    font-family: var(--fonte-padrao);
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid;
    box-shadow: 0px 1px 10px 0px;
}
header:hover{
    cursor: pointer;
}

.formulario{
    width: 70%;
}
.container__formulario{
    display: flex;
    justify-content: center;
    margin: 3em 0 0 0;
}

.container__itens{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}
.flexbox-1{
    display: flex;
}
.flexbox-2{
    display: flex;
    justify-content: center;
}

/*  */
.flexbox-geral{
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 6px 5px 14px;
    flex-direction: column;
}
.form-control{
    color: rgb(45, 19, 161);
    font-weight: bold;
    font-size: 1.2em;
        width: 98%;
}

.mensagem-error{
    font-size: 15px;
    font-weight: bold;
    color: red;
}

footer{
    display: flex;
    justify-content: center;
    margin: 1em;
    font-style: italic;
}

#botaoAbreModal{
    display: none;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.modal-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ccc;
    /* filter: opacity(0.5); */
    margin: 32vh 60vh;
    padding: 2em;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 32px 50px 70px 100vh #000000ba;
}
.modal__sub{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modalBtn{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
#botaoSalvar{
    width: 30%;
    padding: 0.5em;
}
#NOMEDEPESQUISA{
    padding: 0.7em 15em 0.7em 0.4em;
}
.botao__consulta{
    background: blue;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 0.5em 1em;
    margin: 0.5em 0.2em;
    border-radius: 3px;
}
.botao__consulta--salvar{
    background: green;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border-radius: 3px;
}
.botao__consulta--salvar:hover{
    background:#115f14 ;
}
.botao__consulta:hover{
    background: #0c0c97;
    cursor: pointer;
}


/* SESSÂO DE ERRO NA INPUT VAZIA */
#error{
    margin: 0.2em;
    color: red;
    display: none;
    font-size: 13px;
}
.input--error{
    border: 2px solid;
    color: red;
}
.input--sucesso{
    border: 2px solid green;
}
.span--error{
    font-size: 1.1em;
    /* position: absolute; */
    margin: 0.1em -1.6em;
    background: red;
    color: white;
    padding: 1px 6px;
    border-radius: 100%;
    display: none;
}
.span--sucesso{
    font-size: 1.1em;
    /* position: absolute; */
    margin: 0.1em -1.6em;
    background: #4caf50;
    color: white;
    padding: 1px 6px;
    border-radius: 100%;
    display: none;
}

        /*  */

/* EXITO NA CONSULTA DA INPUT */

/*  */
.label__botaoSalvar{
        margin: -0.5em 0.5em 1em;
}









@media only screen and (max-width: 600px)  {
    .flexbox-1{display: flex;flex-direction: column;}   

     .secao__botoes{display: flex;}

     .botao__consulta{padding: 0.8em 0.5em;}
     .formulario {
        width: 80%;
    }
    .modal-form{
    margin: 31vh 6vh;
    }
}